.underline_animation::before {
  content: "";
  position: absolute;
  bottom: 1px;
  height: 1px;
  width: 0;
  background: white;
  transition: width 0.3s ease;
}

.underline_animation:hover::before {
  width: 100%;
}
