[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.772),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../assets/slider1.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.number-slide2 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.772),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../assets/slider2.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.number-slide3 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.772),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../assets/slider4.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
